
<nav class="navbar navbar-expand-lg ">
    <div class="container">
    
      <div class="collapse navbar-collapse " >
        <div class="navbar-nav">
          <a class="nav-link active" routerLink="/home" >Home</a>
          <a class="nav-link" routerLink="/one-way-binding" >One way binding</a>
          <a class="nav-link" routerLink="/twowaybinding" >Two way binding</a>
          <a class="nav-link" routerLink="/assignment3">Assignment 3 </a>
          <a class="nav-link" routerLink="/assignment4">Assignment 4 </a>
         
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

