<div class="container mt-3">
  <h2>Assignment 3 other way</h2>

  <div class="col-lg-4 mt-3" >
    <select [(ngModel)]="selectedQuarter" (change)="changeQuarter()" class="form-control">
      <option *ngFor="let item of Quarter" value="{{item}}">{{item}}</option>
    </select>
  </div>

  <div class="col-lg-4 mt-3 mb-3">
    <select [(ngModel)]="selectedMonth" class="form-control">
      <option *ngFor="let item of months" value="{{item.name}}">{{item.name}}</option>
    </select>
  </div>
<p class="h5">You selected  {{selectedQuarter}}  : {{selectedMonth}}</p>


</div>